<div class="sidebar">
    <div class="sidebar-top">
        <a routerLink="/" class="sidebar-item">
            <span class="material-icons sidebar-icon">home</span>
        </a>
    </div>
    <div class="sidebar-center">
        <a routerLink="/empresas" class="sidebar-item">
            <span class="material-icons sidebar-icon">business</span>
            <span class="sidebar-label">Empresas</span>
        </a>
        <a routerLink="/empleados" class="sidebar-item">
            <span class="material-icons sidebar-icon">people</span>
            <span class="sidebar-label">Empleados</span>
        </a>
    </div>
</div>